body {
  header {
    background-color: black;
    .header-container {
      max-width: 1440px;
      height: 100px;
      margin: 0 auto;
      background-color: black;
      display: flex;
      justify-content: center;

      .header-content {
        max-width: 1110px;
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .navigation {
        nav {
          ul {
            display: flex;
            list-style: none;
            font-size: 13px;

            .list-item {
              margin-right: 50px;
            }

            li {
              a {
                color: white;
                font-size: 13px;
              }
            }
          }
        }
      }
    }
    .underline {
      max-width: 1110px;
      width: 100%;
      height: 1px;
      margin: 0 auto;
      background-color: #979797;
    }
  }
}
