.section3 {
  @extend %flex;
  .section3-container {
    max-width: 1110px;
    width: 100%;
    height: 588px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .section3-innerdiv1 {
      height: 295px;
      flex: 40%;
      display: flex;
      flex-direction: column;
      color: $main-font-color;
      text-align: left;
      margin-right: 125px;

      .innerdiv1-p1 {
        font-size: 40px;
        font-weight: bold;
        flex: 40%;
      }

      .innerdiv1-p1-span {
        color: #d87d4a;
      }

      .innerdiv1-p2 {
        flex: 60%;
        font-size: 15px;
        opacity: 0.5;
      }
    }

    .section3-innerdiv2 {
      flex: 50%;
    }
  }
}
