.section1 {
  background-color: $primary-color;
  @extend %flex;
  height: 632px;
  .section-container {
    max-width: 1087px;
    height: 476px;
    display: flex;
    align-items: center;
    margin-top: 71px;
    overflow: hidden;
    @media (max-width: $ipad-width) {
      height: 639px;
      position: relative;
      justify-content: center;
      align-items: center;
    }
    @media (max-width: $phone-width) {
    }

    .div1 {
      width: 398px;
      display: flex;
      flex-direction: column;

      @media (max-width: $ipad-width) {
        max-width: 398px;
        width: 100%;
        align-items: center;
        text-align: center;
        z-index: 2;
      }

      @media (max-width: $phone-width) {
        width: 100%;
      }
      .new-product {
        font-size: 14px;
        color: #979797;
      }

      .product-name {
        color: white;
        font-weight: bold;
        font-size: 56px;
        margin-top: 24px;
        @media (max-width: $phone-width) {
          font-size: 36px;
        }
      }

      .expirience {
        width: 349px;
        font-size: 15px;
        color: #979797;
        margin-top: 24px;
      }
      button {
        width: 160px;
        height: 48px;
        background-color: #d87d4a;
        color: white;
        font-size: 13px;
        margin-top: 40px;
      }
    }
    .section1-innerdiv2 {
      .inerdiv2-img {
        width: 100%;
        height: 100%;
        max-width: 581px;
        flex: 100%;
      }

      @media (max-width: $ipad-width) {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1;
        flex: 1;
      }
    }
    @media (max-width: $ipad-width) {
      .section1-innerdiv2 {
        .inerdiv2-img {
          width: 100%;
        }
      }
    }
  }
}
