.section5 {
  margin: 120px 0px 256px;
  .section5-container {
    max-width: 1440px;
    @extend %flex;
    margin: 0 auto;

    .section5-content {
      max-width: 1110px;
      height: 312px;
      width: 100%;
      .section5-header {
        color: $main-font-color;
        font-weight: bold;
        font-size: 48px;
        font-family: 'Noto Sans Georgian';
        font-weight: 900;
      }
      .time-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        height: 300px;
        margin-top: 48px;

        .time-div {
          flex: 0.227;
          height: 199px;
          border-radius: 22px;
          background-color: $primary-color;
          @include flexcolumn();
          text-align: center;

          .time-left {
            color: white;
            font-size: 64px;
            font-weight: 900;
            margin-bottom: 15px;
          }

          .days {
            color: white;
            font-weight: lighter;
          }
        }
      }
    }
  }
}
