* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Work Sans", sans-serif;
  background-color: #f7f7f7;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "Noto Sans Georgian";
  src: url("../../assets/fonts/NotoSansGeorgian-VariableFont_wdth,wght.ttf");
}
body {
  font-family: "Noto Sans Georgian", sans-serif;
}

body header {
  background-color: black;
}
body header .header-container {
  max-width: 1440px;
  height: 100px;
  margin: 0 auto;
  background-color: black;
  display: flex;
  justify-content: center;
}
body header .header-container .header-content {
  max-width: 1110px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 700px) {
  body header .header-container .navigation {
    display: none;
  }
}
body header .header-container .navigation nav ul {
  display: flex;
  list-style: none;
  font-size: 13px;
}
body header .header-container .navigation nav ul .list-item {
  margin-right: 50px;
}
body header .header-container .navigation nav ul li a {
  color: white;
  font-size: 13px;
}
body header .underline {
  max-width: 1110px;
  width: 100%;
  height: 1px;
  margin: 0 auto;
  background-color: #979797;
}

.section1 {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 632px;
}
.section1 .section-container {
  max-width: 1087px;
  height: 476px;
  display: flex;
  align-items: center;
  margin-top: 71px;
}
.section1 .section-container .div1 {
  width: 398px;
  display: flex;
  flex-direction: column;
  margin-right: 181px;
}
.section1 .section-container .div1 .new-product {
  font-size: 14px;
  color: #979797;
}
.section1 .section-container .div1 .product-name {
  color: white;
  font-weight: bold;
  font-size: 56px;
  margin-top: 24px;
}
.section1 .section-container .div1 .expirience {
  width: 349px;
  font-size: 15px;
  color: #979797;
  margin-top: 24px;
}
.section1 .section-container .div1 button {
  width: 160px;
  height: 48px;
  background-color: #d87d4a;
  color: white;
  font-size: 13px;
  margin-top: 40px;
}

.section2 {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
.section2 .section2-container {
  max-width: 1110px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.section2 .section2-container .inner-div {
  width: 350px;
  height: 204px;
  background-color: #f1f1f1;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.section2 .section2-container .inner-div img {
  position: absolute;
  bottom: 124px;
  left: 113px;
}
.section2 .section2-container .inner-div h3 {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  margin: 116px 0px 15px;
}
.section2 .section2-container .inner-div .innerdiv2 {
  display: flex;
  align-items: center;
}
.section2 .section2-container .inner-div .innerdiv2 .shop {
  color: #000000;
  opacity: 0.5;
  margin-right: 18px;
}/*# sourceMappingURL=global.css.map */